<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>Course Work</h3>
    <p>
      It is social network developed for course work. It uses MySQL database and created with:
    </p>
    <ul>
      <li>HTML&CSS</li>
      <li>JavaScript</li>
      <li>BootStrap</li>
      <li>Ruby</li>
      <li>Ruby on Rails</li>
    </ul>

    <h4><strong>Creator Vladislav Maliarenko, group ComputerScience 26</strong></h4>
  </div>
</div>